{% extends "layouts/base.html" %}
<!-- Iniciar sesión -->
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    body {
        background: linear-gradient(to right, #6a11cb, #2575fc);
        color: #000;
    }
    .signin-container {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30vh;
    }
    .card {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 500px;
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
    }
    .btn-primary {
        background-color: #ff4081;
        border: none;
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
    }
    .form-group label {
        font-weight: bold;
        margin-top: 10px;
    }
    .form-control {
        padding: 10px;
        font-size: 1rem;
    }
    .error-message {
        color: red;
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<div class="container signin-container">
    <div class="card">
        <h1>Iniciar Sesión</h1>

        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}

        <form action="/signin/" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}  <!-- Muestra la etiqueta del campo -->
                    {{ field }}
                    <!-- Mostrar errores de validación por campo -->
                    {% if field.errors %}
                        <div class="error-message">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-primary mt-4">Iniciar Sesión</button>
        </form>
    </div>
</div>
{% endblock %}
